In [4]:
#1. logistic Regression: giving 97.77% accuracy
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.impute import SimpleImputer

In [5]:
logr=LogisticRegression()

In [6]:
df=pd.read_csv("tested.csv")
print(df)

     PassengerId  Survived  Pclass  \
0            892         0       3
1            893         1       3
2            894         0       2
3            895         0       3
4            896         1       3
..           ...       ...     ...
413         1305         0       3
414         1306         1       1
415         1307         0       3
416         1308         0       3
417         1309         0       3

                                             Name     Sex   Age  SibSp  Parch  \
0                                Kelly, Mr. James    male  34.5      0      0
1                Wilkes, Mrs. James (Ellen Needs)  female  47.0      1      0
2                       Myles, Mr. Thomas Francis    male  62.0      0      0
3                                Wirz, Mr. Albert    male  27.0      0      0
4    Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.0      1      1
..                                            ...     ...   ...    ...    ...
413                            Spector, Mr. Woolf    male   NaN      0      0
414                  Oliva y Ocana, Dona. Fermina  female  39.0      0      0
415                  Saether, Mr. Simon Sivertsen    male  38.5      0      0
416                           Ware, Mr. Frederick    male   NaN      0      0
417                      Peter, Master. Michael J    male   NaN      1      1

                 Ticket      Fare Cabin Embarked
0                330911    7.8292   NaN        Q
1                363272    7.0000   NaN        S
2                240276    9.6875   NaN        Q
3                315154    8.6625   NaN        S
4               3101298   12.2875   NaN        S
..                  ...       ...   ...      ...
413           A.5. 3236    8.0500   NaN        S
414            PC 17758  108.9000  C105        C
415  SOTON/O.Q. 3101262    7.2500   NaN        S
416              359309    8.0500   NaN        S
417                2668   22.3583   NaN        C

[418 rows x 12 columns]

In [7]:
imputer = SimpleImputer(strategy='mean')
df['Age'] = imputer.fit_transform(df[['Age']])

In [8]:
print(df.columns)

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [9]:
df.drop(columns=['PassengerId',  'Ticket', 'Cabin'], inplace=True)

In [10]:
print(df.columns)

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare',
       'Embarked'],
      dtype='object')

In [11]:
# Separate features (X) and target variable (y)
X = df.drop('Survived', axis=1)
y = df['Survived']

In [12]:
# Importing LabelEncoder from Sklearn
# library from preprocessing Module.
from sklearn.preprocessing import LabelEncoder

le_sex = LabelEncoder()
le_embarked = LabelEncoder()

df['Sex'] = le_sex.fit_transform(df['Sex'])
df['Embarked'] = le_embarked.fit_transform(df['Embarked'])

pd.set_option('display.max_rows',None)
pd.set_option('display.max_columns',None)

pd.reset_option('display.max_rows')
pd.reset_option('display.max_columns')

print(df.head())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

print("Features:\n")
print(X)

print("Target\n")
print(y)

   Survived  Pclass                                          Name  Sex   Age  \
0         0       3                              Kelly, Mr. James    1  34.5
1         1       3              Wilkes, Mrs. James (Ellen Needs)    0  47.0
2         0       2                     Myles, Mr. Thomas Francis    1  62.0
3         0       3                              Wirz, Mr. Albert    1  27.0
4         1       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0  22.0

   SibSp  Parch     Fare  Embarked
0      0      0   7.8292         1
1      1      0   7.0000         2
2      0      0   9.6875         1
3      0      0   8.6625         2
4      1      1  12.2875         2
Features:

     Pclass                                          Name     Sex       Age  \
0         3                              Kelly, Mr. James    male  34.50000
1         3              Wilkes, Mrs. James (Ellen Needs)  female  47.00000
2         2                     Myles, Mr. Thomas Francis    male  62.00000
3         3                              Wirz, Mr. Albert    male  27.00000
4         3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.00000
..      ...                                           ...     ...       ...
413       3                            Spector, Mr. Woolf    male  30.27259
414       1                  Oliva y Ocana, Dona. Fermina  female  39.00000
415       3                  Saether, Mr. Simon Sivertsen    male  38.50000
416       3                           Ware, Mr. Frederick    male  30.27259
417       3                      Peter, Master. Michael J    male  30.27259

     SibSp  Parch      Fare Embarked
0        0      0    7.8292        Q
1        1      0    7.0000        S
2        0      0    9.6875        Q
3        0      0    8.6625        S
4        1      1   12.2875        S
..     ...    ...       ...      ...
413      0      0    8.0500        S
414      0      0  108.9000        C
415      0      0    7.2500        S
416      0      0    8.0500        S
417      1      1   22.3583        C

[418 rows x 8 columns]
Target

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [13]:
# After applying LabelEncoder
print(df['Sex'].head())
print(df['Embarked'].head())

print(df.head())

0    1
1    0
2    1
3    1
4    0
Name: Sex, dtype: int64
0    1
1    2
2    1
3    2
4    2
Name: Embarked, dtype: int64
   Survived  Pclass                                          Name  Sex   Age  \
0         0       3                              Kelly, Mr. James    1  34.5
1         1       3              Wilkes, Mrs. James (Ellen Needs)    0  47.0
2         0       2                     Myles, Mr. Thomas Francis    1  62.0
3         0       3                              Wirz, Mr. Albert    1  27.0
4         1       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)    0  22.0

   SibSp  Parch     Fare  Embarked
0      0      0   7.8292         1
1      1      0   7.0000         2
2      0      0   9.6875         1
3      0      0   8.6625         2
4      1      1  12.2875         2

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

print("Features:\n")
print(X)

print("Target\n")
print(y)

Features:

     Pclass                                          Name     Sex       Age  \
0         3                              Kelly, Mr. James    male  34.50000
1         3              Wilkes, Mrs. James (Ellen Needs)  female  47.00000
2         2                     Myles, Mr. Thomas Francis    male  62.00000
3         3                              Wirz, Mr. Albert    male  27.00000
4         3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female  22.00000
..      ...                                           ...     ...       ...
413       3                            Spector, Mr. Woolf    male  30.27259
414       1                  Oliva y Ocana, Dona. Fermina  female  39.00000
415       3                  Saether, Mr. Simon Sivertsen    male  38.50000
416       3                           Ware, Mr. Frederick    male  30.27259
417       3                      Peter, Master. Michael J    male  30.27259

     SibSp  Parch      Fare Embarked
0        0      0    7.8292        Q
1        1      0    7.0000        S
2        0      0    9.6875        Q
3        0      0    8.6625        S
4        1      1   12.2875        S
..     ...    ...       ...      ...
413      0      0    8.0500        S
414      0      0  108.9000        C
415      0      0    7.2500        S
416      0      0    8.0500        S
417      1      1   22.3583        C

[418 rows x 8 columns]
Target

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']], df['Survived'], test_size=0.3, random_state=1)

In [16]:
X = df[['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']]
y = df['Survived']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1)

In [17]:
print("Features:\n")
print(X)

Features:

     Pclass  Sex       Age  SibSp  Parch      Fare  Embarked
0         3    1  34.50000      0      0    7.8292         1
1         3    0  47.00000      1      0    7.0000         2
2         2    1  62.00000      0      0    9.6875         1
3         3    1  27.00000      0      0    8.6625         2
4         3    0  22.00000      1      1   12.2875         2
..      ...  ...       ...    ...    ...       ...       ...
413       3    1  30.27259      0      0    8.0500         2
414       1    0  39.00000      0      0  108.9000         0
415       3    1  38.50000      0      0    7.2500         2
416       3    1  30.27259      0      0    8.0500         2
417       3    1  30.27259      1      1   22.3583         0

[418 rows x 7 columns]

In [18]:
print("Target:\n")
print(y)

Target:

0      0
1      1
2      0
3      0
4      1
      ..
413    0
414    1
415    0
416    0
417    0
Name: Survived, Length: 418, dtype: int64

In [19]:
print("Training data of x:\n",X_train)
print("Testing data of x:\n",X_test)
print("Training data of y:\n",y_train)
print("Testing data of y \n",y_test)

Training data of x:
      Pclass  Sex       Age  SibSp  Parch     Fare  Embarked
383       3    0  19.00000      1      0  16.1000         2
380       3    1  30.27259      0      0   7.7500         1
27        3    1  22.50000      0      0   7.2250         0
89        2    1   2.00000      1      1  23.0000         2
326       2    0  12.00000      2      1  39.0000         2
..      ...  ...       ...    ...    ...      ...       ...
255       3    1  30.27259      0      0   7.5500         2
72        3    0  29.00000      0      0   7.9250         2
396       3    1  24.00000      0      0   7.2500         1
235       3    1  20.00000      0      0   7.8542         2
37        3    0  21.00000      0      0   8.6625         2

[292 rows x 7 columns]
Testing data of x:
      Pclass  Sex       Age  SibSp  Parch     Fare  Embarked
358       3    1  30.27259      0      0   7.7500         1
164       2    1  41.00000      0      0  13.0000         2
17        3    1  21.00000      0      0   7.2250         0
67        1    1  47.00000      0      0  42.4000         2
4         3    0  22.00000      1      1  12.2875         2
..      ...  ...       ...    ...    ...      ...       ...
392       3    1  13.00000      0      2  20.2500         2
367       3    0  22.00000      0      0  39.6875         2
273       3    0  30.27259      1      0  15.5000         1
300       3    1  32.00000      0      0   7.7750         2
82        1    1  49.00000      0      0  26.0000         2

[126 rows x 7 columns]
Training data of y:
 383    1
380    0
27     0
89     0
326    1
      ..
255    0
72     1
396    0
235    0
37     1
Name: Survived, Length: 292, dtype: int64
Testing data of y
 358    0
164    0
17     0
67     0
4      1
      ..
392    0
367    1
273    1
300    0
82     0
Name: Survived, Length: 126, dtype: int64

In [20]:
logr=LogisticRegression()

In [21]:
print(df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Embarked    0
dtype: int64

In [22]:
imputer = SimpleImputer(strategy='mean')
df['Fare'] = imputer.fit_transform(df[['Fare']])

In [23]:
print(df.isnull().sum())

Survived    0
Pclass      0
Name        0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [24]:
print(X_train.isnull().sum())

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        1
Embarked    0
dtype: int64

In [25]:
imputer = SimpleImputer(strategy='mean')
X_train['Fare'] = imputer.fit_transform(X_train[['Fare']])

In [26]:
print(X_train.isnull().sum())

Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [27]:
logr = LogisticRegression(max_iter=1000)
logr.fit(X_train, y_train)

# model = LogisticRegression(max_iter=1000)
# model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [28]:

print("Training data of x:\n",X_train)
print("Testing data of x:\n",X_test)
print("Training data of y:\n",y_train)
print("Testing data of y \n",y_test)

Training data of x:
      Pclass  Sex       Age  SibSp  Parch     Fare  Embarked
383       3    0  19.00000      1      0  16.1000         2
380       3    1  30.27259      0      0   7.7500         1
27        3    1  22.50000      0      0   7.2250         0
89        2    1   2.00000      1      1  23.0000         2
326       2    0  12.00000      2      1  39.0000         2
..      ...  ...       ...    ...    ...      ...       ...
255       3    1  30.27259      0      0   7.5500         2
72        3    0  29.00000      0      0   7.9250         2
396       3    1  24.00000      0      0   7.2500         1
235       3    1  20.00000      0      0   7.8542         2
37        3    0  21.00000      0      0   8.6625         2

[292 rows x 7 columns]
Testing data of x:
      Pclass  Sex       Age  SibSp  Parch     Fare  Embarked
358       3    1  30.27259      0      0   7.7500         1
164       2    1  41.00000      0      0  13.0000         2
17        3    1  21.00000      0      0   7.2250         0
67        1    1  47.00000      0      0  42.4000         2
4         3    0  22.00000      1      1  12.2875         2
..      ...  ...       ...    ...    ...      ...       ...
392       3    1  13.00000      0      2  20.2500         2
367       3    0  22.00000      0      0  39.6875         2
273       3    0  30.27259      1      0  15.5000         1
300       3    1  32.00000      0      0   7.7750         2
82        1    1  49.00000      0      0  26.0000         2

[126 rows x 7 columns]
Training data of y:
 383    1
380    0
27     0
89     0
326    1
      ..
255    0
72     1
396    0
235    0
37     1
Name: Survived, Length: 292, dtype: int64
Testing data of y
 358    0
164    0
17     0
67     0
4      1
      ..
392    0
367    1
273    1
300    0
82     0
Name: Survived, Length: 126, dtype: int64

In [29]:
#Model trained or fitted
print("Model Fitting:\n")
logr.fit(X_train,y_train)

Model Fitting:

LogisticRegression(max_iter=1000)

In [30]:
#predicting
print("Model Predicting:\n")
y_pred=logr.predict(X_test)

Model Predicting:

In [31]:
print("Coefficients:\n",logr.coef_)
print("Intercepts:\n",logr.intercept_)

Coefficients:
 [[-4.01305653e-02 -6.12521243e+00 -7.82691532e-04  3.94519875e-02
   8.76213678e-02  3.07230245e-03 -1.11111725e-02]]
Intercepts:
 [2.75339519]

In [32]:
print("Accuracy_score:\n",accuracy_score(y_test,y_pred))
print("Classification_report:\n",classification_report(y_test,y_pred))
print("Confusion matrix:\n",confusion_matrix(y_test,y_pred))

Accuracy_score:
 1.0
Classification_report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00        85
           1       1.00      1.00      1.00        41

    accuracy                           1.00       126
   macro avg       1.00      1.00      1.00       126
weighted avg       1.00      1.00      1.00       126

Confusion matrix:
 [[85  0]
 [ 0 41]]