In [ ]:
'''Statistical analysis require about the distribution of variables in your datatset.
The seaborn function displot support several approaches '''

'Statistical analysis require about the distribution of variables in your datatset.\nThe seaborn function displot support several approaches '

In [ ]:
import seaborn as sns
import pandas as pd
df=pd.read_csv('Iris.csv')
print(df)

print(df.shape)

print(df.head())
print(df.tail())

print(df.describe())

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
0       Iris-setosa
1       Iris-setosa
2       Iris-setosa
3       Iris-setosa
4       Iris-setosa
..              ...
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica

[150 rows x 6 columns]
(150, 6)
   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa
      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  \
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

            Species
145  Iris-virginica
146  Iris-virginica
147  Iris-virginica
148  Iris-virginica
149  Iris-virginica
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
print(df.loc[df["Species"] == "Iris-setosa"])

# print(df["Speices"].value_counts())

print(df.describe())

    Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0    1            5.1           3.5            1.4           0.2  Iris-setosa
1    2            4.9           3.0            1.4           0.2  Iris-setosa
2    3            4.7           3.2            1.3           0.2  Iris-setosa
3    4            4.6           3.1            1.5           0.2  Iris-setosa
4    5            5.0           3.6            1.4           0.2  Iris-setosa
5    6            5.4           3.9            1.7           0.4  Iris-setosa
6    7            4.6           3.4            1.4           0.3  Iris-setosa
7    8            5.0           3.4            1.5           0.2  Iris-setosa
8    9            4.4           2.9            1.4           0.2  Iris-setosa
9   10            4.9           3.1            1.5           0.1  Iris-setosa
10  11            5.4           3.7            1.5           0.2  Iris-setosa
11  12            4.8           3.4            1.6           0.2  Iris-setosa
12  13            4.8           3.0            1.4           0.1  Iris-setosa
13  14            4.3           3.0            1.1           0.1  Iris-setosa
14  15            5.8           4.0            1.2           0.2  Iris-setosa
15  16            5.7           4.4            1.5           0.4  Iris-setosa
16  17            5.4           3.9            1.3           0.4  Iris-setosa
17  18            5.1           3.5            1.4           0.3  Iris-setosa
18  19            5.7           3.8            1.7           0.3  Iris-setosa
19  20            5.1           3.8            1.5           0.3  Iris-setosa
20  21            5.4           3.4            1.7           0.2  Iris-setosa
21  22            5.1           3.7            1.5           0.4  Iris-setosa
22  23            4.6           3.6            1.0           0.2  Iris-setosa
23  24            5.1           3.3            1.7           0.5  Iris-setosa
24  25            4.8           3.4            1.9           0.2  Iris-setosa
25  26            5.0           3.0            1.6           0.2  Iris-setosa
26  27            5.0           3.4            1.6           0.4  Iris-setosa
27  28            5.2           3.5            1.5           0.2  Iris-setosa
28  29            5.2           3.4            1.4           0.2  Iris-setosa
29  30            4.7           3.2            1.6           0.2  Iris-setosa
30  31            4.8           3.1            1.6           0.2  Iris-setosa
31  32            5.4           3.4            1.5           0.4  Iris-setosa
32  33            5.2           4.1            1.5           0.1  Iris-setosa
33  34            5.5           4.2            1.4           0.2  Iris-setosa
34  35            4.9           3.1            1.5           0.1  Iris-setosa
35  36            5.0           3.2            1.2           0.2  Iris-setosa
36  37            5.5           3.5            1.3           0.2  Iris-setosa
37  38            4.9           3.1            1.5           0.1  Iris-setosa
38  39            4.4           3.0            1.3           0.2  Iris-setosa
39  40            5.1           3.4            1.5           0.2  Iris-setosa
40  41            5.0           3.5            1.3           0.3  Iris-setosa
41  42            4.5           2.3            1.3           0.3  Iris-setosa
42  43            4.4           3.2            1.3           0.2  Iris-setosa
43  44            5.0           3.5            1.6           0.6  Iris-setosa
44  45            5.1           3.8            1.9           0.4  Iris-setosa
45  46            4.8           3.0            1.4           0.3  Iris-setosa
46  47            5.1           3.8            1.6           0.2  Iris-setosa
47  48            4.6           3.2            1.4           0.2  Iris-setosa
48  49            5.3           3.7            1.5           0.2  Iris-setosa
49  50            5.0           3.3            1.4           0.2  Iris-setosa
               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

In [ ]:
#Calculating sum mean median

sum_data = df["SepalLengthCm"].sum()
mean_data = df["SepalLengthCm"].mean()
median_data = df["SepalLengthCm"].median()

print("Sum:", sum_data, "\nMean:", mean_data, "\nMedian:", median_data)
#Minimum and Maximum
min_data = df["SepalLengthCm"].min()
max_data = df["SepalLengthCm"].max()

print("Min:", min_data, "\nMax:", max_data)

Sum: 876.5
Mean: 5.843333333333334
Median: 5.8
Min: 4.3
Max: 7.9

In [ ]:
#step 1 load the data
import pandas as pd

#Load the csv file into a total frame
df= pd.read_csv("Data.csv")
print(df)

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [ ]:
#Step 2 Missing Handle Values
#Check for missing values
print(df.isnull().sum())
import numpy as np

#fill the mising age with men age
df["Age"].fillna(df["Age"].mean(),inplace=True)

#fill missing salary with median salary
df["Salary"].fillna(df["Salary"].median(), inplace=True)

print(df)

Country      0
Age          0
Salary       1
Purchased    0
dtype: int64
   Country        Age   Salary Purchased
0   France  44.000000  72000.0        No
1    Spain  27.000000  48000.0       Yes
2  Germany  30.000000  54000.0        No
3    Spain  38.000000  61000.0        No
4  Germany  40.000000  61000.0       Yes
5   France  35.000000  58000.0       Yes
6    Spain  38.777778  52000.0        No
7   France  48.000000  79000.0       Yes
8  Germany  50.000000  83000.0        No
9   France  37.000000  67000.0       Yes

In [ ]:
#Convert the data types
#Ensure that age and salary columns are of numric type
#Convert Age and Salary to numeric ty[es if they are not already
df["Age"]= pd.to_numeric(df["Age"])
df["Salary"]=pd.to_numeric(df["Salary"])
print(df.dtypes)

Country       object
Age          float64
Salary       float64
Purchased     object
dtype: object

In [ ]:
#Step 4 Normalize /Scale Numerical Value

from sklearn.preprocessing import MinMaxScaler

scaler= MinMaxScaler()

#Normalize Age and Salary
df[["Age","Salary"]]=scaler.fit_transform(df[["Age","Salary"]])
print(df)

   Country       Age    Salary Purchased
0   France  0.739130  0.685714        No
1    Spain  0.000000  0.000000       Yes
2  Germany  0.130435  0.171429        No
3    Spain  0.478261  0.371429        No
4  Germany  0.565217  0.371429       Yes
5   France  0.347826  0.285714       Yes
6    Spain  0.512077  0.114286        No
7   France  0.913043  0.885714       Yes
8  Germany  1.000000  1.000000        No
9   France  0.434783  0.542857       Yes

In [ ]:
#Step 5 Encode Categorial Variables
df=pd.get_dummies(df, columns=["Purchased"],prefix="Purch")
print(df)

   Country       Age    Salary  Purch_No  Purch_Yes
0   France  0.739130  0.685714      True      False
1    Spain  0.000000  0.000000     False       True
2  Germany  0.130435  0.171429      True      False
3    Spain  0.478261  0.371429      True      False
4  Germany  0.565217  0.371429     False       True
5   France  0.347826  0.285714     False       True
6    Spain  0.512077  0.114286      True      False
7   France  0.913043  0.885714     False       True
8  Germany  1.000000  1.000000      True      False
9   France  0.434783  0.542857     False       True